.content {
  display: flex;
  flex-direction: column;
  margin: 50% 50% 50% 50%;
  align-items: center;
  justify-content: center;
}

.value-box {
  border: 2px solid #909099;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  text-align: center;
  font-size: 2.0em;
  line-height: 9;
  box-shadow: 2px 2px #909099;
}

.input-box {
  margin-top: 10px;
  border: 2px solid #909099;
  border-radius: 10px;
  height: 50px;
  width: 300px;
  text-align: left;
  font-size: 2.1em;
  box-shadow: 2px 2px #909099;
  color: #909099;
}
